@use "sass:list";
@use "_function" as *;

.pyo-check-radio-box-wrap{
	display: flex;
	align-items: center;
	flex-wrap: wrap;
	gap: 20px;
}
.pyo-check-box{
	display: flex;
	align-items: center;
	gap: 8px;
	cursor: pointer;
	.change-d{
		position: relative;
		width: 20px;
		height: 20px;
		border-radius: 2px;
		border: 1px solid #B3B3B3;
		background-color: #fff;
		&::after{
			content: '';
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			mask: url(@/assets/img/icon/icon-check-2.svg) no-repeat center;
			mask-size: 12px;
			background-color: #E6E6E6;
		}
		&:focus,
		&:hover{
			border-color: #666;
		}
	}
	input{
		display: none;
		&:checked + .change-d{
			border-color: list.nth($PYO-point-color , 1);
			background-color: list.nth($PYO-point-color , 1);
			&::after{
				background-color: #fff;
			}
		}
		&:disabled + .change-d{
			border-color: #E6E6E6;
			background-color: #F7F7F7;
			&::after{
				display: none;
			}
		}
	}
	.text{
		font-size: 1rem;
	}
	&.s-l{
		gap: 12px;
		.change-d{
			width: 28px;
			height: 28px;
			border-radius: 4px;
			&::after{
				mask-size: 16px;
			}
		}
		.text{
			font-size: 1.125rem;
		}
	}
}

.pyo-radio-box{
	display: flex;
	align-items: center;
	gap: 8px;
	cursor: pointer;
	.change-d{
		position: relative;
		width: 20px;
		height: 20px;
		border-radius: 100%;
		border: 1px solid #B3B3B3;
		background-color: #fff;
		&::after{
			content: '';
			position: absolute;
			top: 50%;
			left: 50%;
			width: 8px;
			height: 8px;
			border-radius: 100%;
			background-color: #B3B3B3;
			transform: translate(-50%, -50%);
		}
		&:focus,
		&:hover{
			border-color: #666;
		}
	}
	input{
		display: none;
		&:checked + .change-d{
			border-color: list.nth($PYO-point-color , 1);
			background-color: list.nth($PYO-point-color , 1);
			&::after{
				background-color: #fff;
			}
		}
		&:disabled + .change-d{
			border-color: #E6E6E6;
			background-color: #F7F7F7;
			&::after{
				display: none;
			}
		}
	}
	.text{
		font-size: 1rem;
	}
	&.s-l{
		gap: 12px;
		.change-d{
			width: 28px;
			height: 28px;
			&::after{
				width: 12px;
				height: 12px;
			}
		}
		.text{
			font-size: 1.125rem;
		}
	}
}

.pyo-input{
	padding: 14px 16px;
	border-radius: 3px;
	border: 1px solid #E6E6E6;
	background-color: #fff;
	outline: 0;
	&.w-full{
		width: 100%;
	}
	&.s-s{
		padding: 7px 12px;
		font-size: 0.875rem;
	}
	&.s-l{
		padding: 21px 24px;
		font-size: 1.125rem;
	}
	&:focus,
	&:hover{
		border-color: #B3B3B3;
	}
	&::placeholder{
		color: #B3B3B3;
	}
	&.success{
		border-color: #0068FF;
	}
	&.error{
		border-color: #E62A10;
	}
	&:disabled{
		border: 1px solid #E6E6E6;
		background-color: #F7F7F7;
		color: #B3B3B3;
	}
	@mixin backgroundArrow($color: '000'){
		background-image: url("data:image/svg+xml,%3Csvg width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M5.29289 8.29289C5.68342 7.90237 6.31658 7.90237 6.70711 8.29289L12 13.5858L17.2929 8.29289C17.6834 7.90237 18.3166 7.90237 18.7071 8.29289C19.0976 8.68342 19.0976 9.31658 18.7071 9.70711L12.8839 15.5303C12.3957 16.0185 11.6043 16.0185 11.1161 15.5303L5.29289 9.70711C4.90237 9.31658 4.90237 8.68342 5.29289 8.29289Z' fill='%23#{$color}'/%3E%3C/svg%3E%0A");
	}
	@at-root select#{&}{
		appearance: none;
		@include backgroundArrow();
		padding-right: 60px;
		background-repeat: no-repeat;
		background-position: center right 16px;
		&.s-s{
			padding-right: 40px;
			background-position: center right 12px;
			background-size: 16px;
		}
		&.s-l{
			padding-right: 80px;
			background-position: center right 24px;
		}
		&:disabled{
			@include backgroundArrow('E6E6E6');
		}
	}
	@at-root textarea#{&}{
		resize: none;
		padding: 16px;
		min-height: 200px;
		&.s-l{
			padding: 24px;
		}
	}
}

.pyo-count-wrap{
	display: inline-flex;
	height: 48px;
	border: 1px solid #E6E6E6;
	input{
		width: 60px;
		border: none;
		border-right: 1px solid #E6E6E6;
		border-left: 1px solid #E6E6E6;
		text-align: center;
	}
	button{
		width: 48px;
		border: none;
		background-color: transparent;
		background-position: center;
		background-repeat: no-repeat;
		background-size: 20px;
		&.minus{
			background-image: url(@/assets/img/icon/icon-minus.svg);
		}
		&.plus{
			background-image: url(@/assets/img/icon/icon-plus.svg);
		}
	}
	&.s-s{
		height: 32px;
		input{
			width: 44px;
			font-size: 0.75rem;
		}
		button{
			width: 32px;
			background-size: 16px;
		}
	}
}